:root {
	font-family:  Roboto;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;

	background-color: white;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--blue: #23aaea;
	--green: #68b833;
	--dark-blue: #2a58ad;
	--darker-blue: #1d4c9e;
	--bg-gray: #edf2f6;
	--blue-green-grad: linear-gradient(90deg, var(--blue) 0%, var(--green) 100%);
	--heading-black: #212121;
	--text-gray: #707070;
	--bot-border: 1px solid lightgrey;

	--cont-side-pad: 25px;
	--header-height: 50px;
	--sidebar-width: 28vh;
	--sidebar-max-width: 300px;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	display: block;
}

#root {
	height: 100vh;
	width: 100%;
}
